<ul class="address-block block">
    <li>
        <i class="ion-ios-location-outline"></i>24 Cook Street, Billerica, Massachusetts 01821
    </li>
    <li>
        <i class="ion-ios-email-outline"></i>Email: info@computerfulfillment.com
    </li>
    <li>
        <i class="ion-ios-telephone-outline"></i>Phone: (978) 671-0440
    </li>
    <li>
      <a title="Twitter" href="https://twitter.com/compfulfillment"><img src="https://68ef2f69c7787d4078ac-7864ae55ba174c40683f10ab811d9167.ssl.cf1.rackcdn.com/twitter-icon_24x24.png" alt="Twitter" /></a>
      &ensp;
      <a title="LinkedIn" href="https://www.linkedin.com/company/computer-fulfillment/"><img src="https://68ef2f69c7787d4078ac-7864ae55ba174c40683f10ab811d9167.ssl.cf1.rackcdn.com/linkedin-icon_24x24.png" alt="LinkedIn"/></a>
    </li>
</ul>
